/* Set all box-sizing to border-box */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Set fonts for body and headers */
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #330033;
    font-size: 1rem;
    line-height: 1.4rem;
}

.container {
    width: 90%;
    margin: 5%;
}

h1,
h2 {
    font-family: 'Caveat', cursive, Verdana;
    color: #330033;
}

h1 {
    font-size: 2.75rem;
}

/* Center header and footer */
header,
footer {
    text-align: center;
}

/* Remove bullets from unordered lists */
ul {
    list-style-type: none;
}

/* Indent list items for experience and education */
main section ul li {
    margin-left: 2rem;
}

main section ul li.flushleft {
    margin-left: 0;
}
