/* Set all box-sizing to border-box */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Set fonts for body and headers */
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #330033;
    font-size: 1rem;
    line-height: 1.4rem;
    background: #fffade url(../img/linen-1.png) repeat;
}

h1,
h2 {
    font-family: 'Caveat', cursive, Verdana;
    color: #330033;
}

h1 {
    font-size: 2.75rem;
}

h4 {
    font-family: 'Caveat', cursive, Verdana;
}

.container {
    width: 90%;
    margin: 5%;
    background-color: rgba(251, 251, 251, 0.9);
}

/* Center header and footer */
header,
footer {
    text-align: center;
    padding: 2% 0 1% 0;
    background-color: white;
}


header ul,
footer ul {
    padding: 0;
    margin: 0;
}

/* Remove bullets from unordered lists */
ul {
    list-style-type: none;
}

section {
    padding-bottom: 3%;
}

main {
    padding: 2% 2.5%;
}

main section ul {
    padding-left: 0.5rem;
}

/* Indent list items for experience and education */
main section ul li {
    margin-left: 1.25rem;
}

main section ul li.flushleft {
    margin-left: 0;
}

main figure {
    width: 50%;
}

main figure img {
    display: block;
    width: 100%;
}

figure figcaption,
.hidden {
    font-size: 0;
    line-height: 0;
    color: rgba(251, 251, 251, 0);
}

aside {
    background-color: rgba(51, 0, 51, 0.8);
    color: white;
    padding: 1% 2%;
    margin-top: 2%;
}

aside ul {
    padding-left: 1.75rem;
}

aside figure img {
    display: block;
    width: 100%;
    background-color: white;
}

.jazzy {
    box-shadow: 0.5px 2px 5px 5px #330033;
}

/* **************MEDIA QUERY FOR BROWSERS LARGER THAN 600PX*************** */
@media all and (min-width: 600px) {

    main,
    aside {
        display: inline-block;
        vertical-align: top;
    }

    main {
        width: 58%;
        padding-right: 2%;
    }

    aside {
        width: 40%;
    }
}

/* **************MEDIA QUERY FOR BROWSERS LARGER THAN 600PX*************** */
@media  print {

    main,
    aside {
        width: 100%;
        color: #464646;
    }

    section:first-of-type {
        display: inline-block;
        width: 60%;
    }

    aside section#works {
        display: none;
    }

    main figure {
        display: inline-block;
        width: 25%;
    }
}
